<div class="container fondo3 my-3">
    <h2 class="text-center compresion">Login de usuario</h2>
    <p class="login">Ingrese su nombre</p>
    <form action="/login" method="post">
        <input type="text" name="login" id="login" placeholder="name">
        <input class="btn btn-success my-3 d-block" type="submit" value="Enviar">
    </form>
    
</div>