.comentarios p {
    display: inline-block;
}

.email {
    color: blue;
    font-weight: bold;
}

.date {
    color: rgb(163, 87, 51);
}

.text {
    color: green;
}

.compresion {
    color: blue;
}

.saludo {
    color: darkgreen;
}

.fondo1 {
    background-color: rgb(209, 207, 213);
}

.fondo2 {
    background-color: rgb(214, 208, 214);
}

.fondo3 {
    background-color: rgb(214, 211, 201);
}

.login {
    font-style: italic;
    font-weight: bold;
}